:root{
    --grey: rgb(141, 141, 141);
    --darkgray: #616161;
    --off-white: #FFFAF0;
    --white: whitesmoke;
    --testborder: 2px solid black;
    --lightblue:  rgba(175,218,247,1);
    --med-blue:  rgb(95, 169, 219);
}

*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    height: 100%;
    min-height: 100%;
}

/* ---HEADER---  */
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    /* background-color: var(--lightblue); */
    background-color: var(--med-blue);
}

h1{
    padding: 10px 0;
    height: auto;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    color: var(--off-white);
    /* position: fixed;
 */
}

    /* -----NAV----- */
nav{
    /* position: fixed; */
    top: 0;
    justify-content: flex-end;
    /* color: black; */
}

nav ul {
    padding:20px;
    margin: 0 auto;
    list-style: none;
    text-align: right;
    /* color: var(--off-white); */
}

nav ul li {
    display: inline;
    justify-content: space-between;
    margin: 0 10px;
}

nav a{
    padding: 10px 0;
    color: var(--off-white);
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease;
    text-decoration: none;
}

/* -----Projects------- */
.container {
    margin-bottom: 50px;
}

/* ----About me---- */
.intro{
    margin: auto;
    height: 500px;
    background-image: url(../images/luka-senica-FxmV3YLx_co-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.aboutMe {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin: 20px;
    color: var(--off-white);
}

/* -----ABOUT ME IMAGE----- */
.imgcontainer{
    position: relative; 
    display: block; 
    overflow: hidden;
}

.imgMar {
    max-width: 50%;
    width: 350px;
    height: auto;
    position: top -10px;
    border-radius: 10px;
    opacity: 0.8;
}

.imgcontainer .myinfo {
    position: absolute; 
    display: flex; 
    flex-wrap: wrap;
    top: 0; 
    left: 0; 
    border-radius: 10px;
    height: 100%; 
    width: 350px;
    margin: 10px;
    margin-right: 0; 
    opacity: 0; 
    transition: all .2s ease-in-out;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    color: black;
}

.imgcontainer:hover .myinfo{
    background: rgb(236,225,205);
    background: radial-gradient(circle, rgba(236,225,205,1) 0%, rgba(192,219,250,1) 100%);
    opacity: 0.5;
}

/* ------WORK TITLE----- */
.work{
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 1000px;
    line-height: 50px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightblue);
    /* align-items: center;
    justify-content: center;
    display: flex; */
}

/* ------HORISEON------- */
.horiseon{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    /* width: 1000px; */
    height: fit-content;
}

.horiseon h3 {
    margin: auto;
    max-width: 1000px;
    padding: 10px;
    border: opacity.0;
}

.horieimg{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 1000px;
    margin: auto;
    justify-content: center;
    align-items: middle;
    display: block;
}

/* -------GRID PROJECT GALLERY------ */
.projects {
    margin: auto;
    display: grid;
    /* width: 1200px; */
    width: auto;
    height: auto;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 1em;
    grid-auto-rows: 100px;
}

.hero {
    background-color: white;
    background: rgb(255,229,193);
    background: linear-gradient(90deg, rgba(255,229,193,1) 0%, rgba(161,214,241,1) 50%, rgba(40,90,158,1) 100%);
    background-size: cover;
    background-position: center;
    padding: 40px;
    margin: 10px;
} */

/* -----CONTACT ME------ */
.contactContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 20px;
    margin: auto;
}

.contactMe{
    padding:20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    color: black;
    background-color: var(--med-blue);
}

.contactMe li{
    display: inline;
    justify-content: space-between;
    margin: 0 10px;
}

.contact-link {
    padding: 10px 0;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
    text-decoration: none;
}

.contacttitle {
    text-align: center;
    background-color: var(--lightblue);
    line-height: 34px;
    padding: 5px;

}

/* ----FOOTER---- */
footer{
    background-color: var(--grey);
    margin: auto;
    padding: 10px;

}

footer h2 {
    text-align: center;
    font-size: 15px;
}

/* -----QUERY MEDIA------ */
@media screen and (min-width: 1001px) {

    .intro{
        max-width: 1000px;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .projects{
        max-width: 1000px;
    }

    .footer{
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .horieimg{
        max-width: 85%;
    }

    .projects {
        max-width: 85%;
    }
}

@media screen and (max-width: 768px) {
    
    nav ul {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .imgcontainer .myinfo {
        display: inline-block;
        vertical-align: middle;
        position: static;
        opacity: 1;
        color: var(--off-white);
        background-color: var(--darkgray);
        border: #494949cb 1px solid;
    }

    .myinfo {
        margin-bottom: -2px;
    }
    
    .projects{

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        min-height: 100%;
        padding: 2rem;
        transition: all 0.5s ease-in-out;
    }

    .contactMe {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .contact-link {
        line-height: 35px;
    }
}