:root{
    --dark: #6caca8;
    --orange: #E9967A;
    --off-white: #FFFAF0;
    --white: whitesmoke;
    --testborder: 2px solid black;
    --lightblue:  rgba(175,218,247,1);
    --pink-light: rgba(255,215,232,1);
}

*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100%;
    min-height: 100%;
}

/* ---HEADER---  */
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    background-color: var(--lightblue);
}

h1{
    padding: 10px 0;
    height: auto;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    /* position: fixed;
 */
}

    /* -----NAV----- */
nav{
    /* position: fixed; */
    top: 0;
    justify-content: flex-end;
    color: black;
}

nav ul {
    padding:20px;
    margin: 0 auto;
    list-style: none;
    text-align: right;
    color: black;
}

nav ul li {
    display: inline;
    justify-content: space-between;
    margin: 0 10px;
}

nav a{
    padding: 10px 0;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease;
    text-decoration: none;
}

/* -----Projects------- */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ----About me---- */
.intro{
    margin: auto;
    height: 500px;
    /* background-image: url(../images/light-blue-background.jpg); */
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    /* background: rgb(255,215,232);
    background: radial-gradient(circle, rgba(255,215,232,1) 0%, rgba(192,219,250,1) 100%); */
    background: rgb(132,173,242);
    background: radial-gradient(circle, rgba(132,173,242,1) 0%, rgba(72,122,218,1) 51%, rgba(175,218,247,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 400px;
    padding-left: 400px;
    margin-bottom: 100px;
    /* border-radius: 10% / 50%; */
}

.aboutMe {
    font-size: 2em;
    text-align: left;
}

.imgMar {
    border-radius: 50%;
    width: 70%;
    height: auto;
    display: block;
    
    filter: grayscale(100%);
}

.horiseon{
    margin: auto;
    height: 500px;
    background-image: url(../images/horiseon-screenshot\ \(2\).PNG);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-right: 500px;
    padding-left: 500px;
    margin-bottom: 50px;
}

/* need to make these into a grid */
.projects {
    margin: auto;
    display: grid;
    /* width: 100%; */
    width: 1200px;
    height: auto;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 1em;
    grid-auto-rows: 100px;
}

.hero {
    background-color: white;
    background-image: url(../images/blue-abstract-triangle-background.PNG);
    background-size: cover;
    background-position: center;
    padding: 40px;
    margin: 10px;
} */

/* -----CONTACT ME------ */
.contactContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactMe{
    padding:20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    color: black;
}

.contactMe li{
    display: inline;
    justify-content: space-between;
    margin: 0 10px;
}

.contact-link {
    padding: 10px 0;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease;
    text-decoration: none;
}